<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css/profileStyle.css">
<title>Profil</title>

</head>

<body>
	<header>
		<img src="css/img/logo.png" alt="application logo">
		<ul>
			<li><a th:href="@{/doctorProfile.html}">Profil</a></li>
			<li><a th:href="@{/logout}">Wyloguj</a></li>
		</ul>


	</header>
	<div>
		<ul class="homeCheckList">

			<li><a th:href="@{/homeRegisteredPatient.html}">Zarejestrowani</a></li>
			<li><a href="">Grafik</a></li>
		</ul>

	</div>
	<main>
		<ul>
			<li>
				<p>
					Imię: <span th:text="${doctor.getFirstName()}"></span>
				</p>
			</li>
			<li>
				<p>
					Nazwisko: <span th:text="${doctor.getLastName()}"></span>
				</p>
			</li>

			<li>
				<form th:action="@{/updateDoctorName}" method="post"
					onsubmit="return confirm('Czy na pewno chcesz zmienić nazwisko?');">
					<input type="text" class="text" id="lastName" name="doctorName"
						required> <input type="submit" class="button"
						name="changeDoctorSurname" value="Zmień">
				</form>
			</li>

			<li>

				<p>
					Numer telefonu: <span th:text="${doctor.getTelephoneNumber()}"></span>
				</p>
			</li>
			<li>
				
				<form th:action="@{/updateNumber}" 
					method="post"
					onsubmit="return confirm('Czy na pewno chcesz zmienić numer?');">
					<input type="tel" class="text" name="doctorNumber" id=""
						 pattern="[0-9]{9}" required>
					<input type="submit" class="button" name="changeNumber"
						value="Zmień">
				</form>
			</li>

			<li>
				<p>Hasło:</p>
			</li>
			<li>
				<form th:action="@{/updateDoctorPassword}"
					method="post"
					onsubmit="return confirm('Czy na pewno chcesz zmienić hasło?');">
					<input type="password" class="text" name="userPassword" id=""
						required> <input type="submit"
						class="button" name="changeDoctorPassword" value="Zmień">
				</form></li>
		</ul>
	</main>
	<img src="css/img/Profile.png" alt="pacjent profil">
</body>

</html>