<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home</title>
</head>

<body>
    <header><img src="css/img/logo.png" alt="application logo">
        <ul>
            <li><a th:href="@{/doctorProfile.html}">Profil</a></li>
            <li><a th:href="@{/logout}">Wyloguj</a></li>
        </ul>


    </header>
    <div>
        <ul class="homeCheckList">

            <li> <a th:href="@{/homeRegisteredPatient.html}">Zarejestrowani</a> </li>
            <li><a href="">Grafik</a></li>


        </ul>

    </div>

    <main class="doctorHomePage">

        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore fugiat vel ab, vitae,
            architecto consectetur eius, aliquid itaque quibusdam veritatis inventore neque aperiam mollitia et
            impedit
            facere! Dolorem, quam magnam.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto vel voluptate id velit provident,
            corrupti,
            reiciendis odio fugit eum incidunt nam quasi. In mollitia earum sequi! Tenetur provident impedit autem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quia error sequi illo animi veniam, ab
            optio molestiae, molestias ut quae maiores natus aliquid dignissimos? Atque cupiditate nam excepturi
            odit?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptas esse quibusdam quod, cum quae
            quasi
            quam, repellendus facere ad accusamus natus quos laborum in vero dolorem. Iusto, atque quam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, aliquid reprehenderit! Aut voluptas
            eveniet
            commodi corporis alias veritatis exercitationem, quis ipsa officia esse asperiores aliquid sapiente
            labore
            accusantium, quos reprehenderit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quibusdam a quisquam, quae quod voluptate
            earum
            architecto sit omnis esse nemo. Autem adipisci quasi debitis cupiditate dignissimos eius provident in.
        </p>
        <img src="css/img/patientHome.png" alt="lekarz strona startowa">

    </main>

    <!-- <footer>
        <p class="copywright">
            Copywright Krukowska 2019
        </p>
    </footer> -->
</body>

</html>