<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/PracaInz/src/main/resources/static/css/styles.css">
</head>

<body>
    <header>
        <img src="img/logo.png" alt="application logo">
    </header>


    <h1>Witaj <br> w systemie wspomagającym <br> Twoje zdrowie!</h1>
    <main>
        <div class="helloImg">
            <img src="img/witaj.png" alt="hello image">

            <form class="inputButtons">
                <ul>
                    <li><input class="fields " type="text" name="login" placeholder="Type your login" required></li>
                    <li><input class="fields" type="password" name="password" placeholder="Type your password" required>
                    </li>
                    <li> <input class="button" type="submit" value="zaloguj" id="logIn"></li>
                    <li><input class="button" type="submit" value="zarejestruj" id="register"></li>
                </ul>
            </form>
        </div>
    </main>
    <footer>
        <p class="copywright">
            Copywright Krukowska 2019
        </p>
    </footer>
</body>

</html>