<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<header>
		<img src="css/img/logo.png" alt="application logo">
	</header>


	<h1>
		Witaj <br> w systemie wspomagaj¹cym <br> Twoje zdrowie!
	</h1>
	<main class="helloImg">
		<p th:if="${loginError}" class="error">Wrong username or password</p>
		<form class="inputButtons" th:action="@{/login.html}" method="post">
			<ul>
				<li><input class="fields" type="text" id="username"
					name="username" autofocus="autofocus" placeholder="Type your login"
					required></li>
				<li><input class="fields" type="password" id="password"
					name="password" placeholder="Type your password" required></li>
				<li><input class="button" type="submit" value="zaloguj"
					id="logIn"></li>
			</ul>
		</form>
		<form class="register" th:action="@{/login.html}" method="post">
		<ul class="register">
			<li><input class="button" type="submit" value="zarejestruj"
				id="register"></li>
		</ul>
		</form>
	</main>
	<img class="login" src="css/img/witaj.png" alt="hello image">
	<footer>
		<p class="copywright">Copywright Krukowska 2019</p>
	</footer>
</body>

</html>