html {
	/* position: relative; */
	background: #FEFBD8;
}

header {
	background-color: #392B35;
	padding: 20px;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	height: 40px;
}

header {
	position: fixed;
	display: inline-block;
	text-align: left;
}

header img {
	color: white;
	position: relative;
	height: 40px;
	left: 0;
	top: 0;
}

header ul {
	display: inline;
	position: absolute;
	top: 0;
	right: 0%;
	padding: 10px;
	margin: 10px 5%;
	white-space: nowrap;
}

header ul li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 20px;
}

header ul li a {
	text-decoration: none;
	font-family: Trebuchet MS;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 39px;
	text-align: right;
	color: #FEFBD8;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homeCheckList {
	position: fixed;
	top: 64px;
	left: 0;
	padding: 0;
	z-index: 1;
}

.homeCheckList li {
	display: inline-block;
	width: 220px;
	height: 50px;
	text-align: left;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0) 100%), #618685;
}

.homeCheckList li a {
	text-decoration: none;
	font-family: Trebuchet MS;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 10px;
	text-align: left;
	margin-left: 20px;
	margin-right: 0;
	display: block;
	margin-top: 20px;
	color: #FEFBD8;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul.homeCheckList {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

table {
	text-align: center;
}

ul li input {
	text-align: center;
	position: relative;
	width: 150px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0) 100%), #FEFBD8;
	color: #392B35;
	text-decoration: none;
	font-family: Trebuchet MS;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 39px;
	text-align: center;
	margin-left: 10px;
	margin-right: 0;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchSymptom ul li input {
	text-align: center;
	position: relative;
	/* top: 150px; */
}

div.addSymptom {
	position: relative;
	top: 100px;
}

div.searchSymptom {
	position: relative;
	top: 200px;
}

.addSymptom ul {
	width: 100%;
	text-align: center;
}

.searchSymptom ul {
	width: 100%;
	text-align: center;
}

ul li {
	position: relative;
	text-align: center;
	display: inline-block;
}

div table {
	/* position: relative; */
	text-align: center;
	display: inline-block;
}

.button {
	width: 150px;
	height: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0) 100%), #618685;
	color: #FEFBD8;
	text-decoration: none;
	font-family: Trebuchet MS;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 39px;
	text-align: center;
	margin-left: 20px;
	margin-right: 0;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

th, td {
	border: 1px solid #392B35;
	table-layout: auto;
	text-align: center;
}

th {
	width: 150px;
	height: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0) 100%), #618685;
	color: #FEFBD8;
	text-decoration: none;
	font-family: Trebuchet MS;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 39px;
	text-align: center;
	margin-left: 20px;
	margin-right: 0;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div img {
	position: fixed;
	top: 60%;
	left: 10%;
	height: 40%;
	z-index
	=
	-1;
}

main {
	position: relative;
	top: 25%;
	left: 30%
}

td {
	width: 150px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0) 100%), #FEFBD8;
	color: #392B35;
	text-decoration: none;
	font-family: Trebuchet MS;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 39px;
	text-align: center;
	margin-left: 20px;
	margin-right: 0;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img {
	position: fixed;
	top: 40%;
	right: 10%;
	height: 50%;
}


.radio label{
	color: #392B35;
	text-decoration: none;
	font-family: Trebuchet MS;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 39px;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.radio input{
  cursor: pointer;
  height: 30px;
}